<div class="container__big-card">
    <div class="big-card__photo">
        <img 
            src="https://t4.ftcdn.net/jpg/05/17/53/57/360_F_517535712_q7f9QC9X6TQxWi6xYZZbMmw5cnLMr279.jpg" 
            alt="photo placeholder" 
            srcset=""
        >
    </div>
    <div class="big-card__title">
        <h1><a href="#">Nova versão da account abstraction</a></h1>
    </div>
    <div class="big-card__description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda rem placeat velit cum adipisci fuga recusandae quibusdam enim amet rerum veritatis, veniam quisquam similique est. Ipsam sunt officia ea facilis.</p>
    </div>
</div>